@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
}
