@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1A1A1A;
  --accent: #0052FF;
  --secondary: #666666;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  @apply bg-white text-primary antialiased;
}
